<body>
	<html>
  <head>
    <base href="http://localhost:8080/houtai/">
    <title>My JSP 'reg.jsp' starting page</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/houtai/css/font.css">
	<link rel="stylesheet" href="../static/houtai/css/xadmin.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="../static/houtai/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/houtai/js/xadmin.js"></script>
  </head>
  <body>
  	<div>
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>登录名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>
                  
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" required="" lay-verify="pass"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                		  下一步
              </button>
          </div>
      </form>
    </div>  
  </body>
</html>
<script>
	
</script>
</body>