<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>景点页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/houtai/css/font.css">
    <link rel="stylesheet" href="../static/houtai/css/xadmin.css">
    <script type="text/javascript" src="../static/houtai/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/houtai/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/houtai/js/xadmin.js"></script> 
  </head>
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
          <a><cite>导航元素</cite></a>
          <a><cite>查询所有景点</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <span class="x-right" style="line-height:40px" >共<span th:text="${size}"></span>条</span>
      <table class="layui-table">
        <thead>
          <tr>
            <th width="30px;">ID</th>
            <th>景点名</th>
            <th>地址</th>
            <th>手机号</th>
            <th width="30px;">城市</th>
            <th width="30px;">类型</th>
            <th width="30px;">月份</th>
            <th width="30px;">状态</th>
            <th>图片</th>
        </thead>
        <tbody>
          <tr th:each="qs:${queryScenicspots}">
            <td th:text="${qs.ssid}"></td>
            <td th:text="${qs.ssname}"></td>
            <td th:text="${qs.localurl}"></td>
            <td th:text="${qs.phone}"></td>
            <td th:text="${qs.cname}"></td>
            <td th:text="${qs.tname}"></td>
            <td th:text="${qs.mname}"></td>
            <td th:switch="${qs.scstatus}">
            	<span th:case="1">正常</span>
				<span th:case="0">不正常</span>
            </td>
            <td th:text="${qs.scenicspotspic}"></td>
          </tr>
        </tbody>
      </table>
      <div class="page">
        <a class="allpage"><b th:text="'第 '+ ${page.pageIndex}+ ' 页'"></b>
        <b th:text="'共 '+ ${page.totalPage}+ ' 页'"></b></a>
  		&nbsp;&nbsp;<a th:href="@{'queryScenicspots?pageIndex='+ ${1}}" >首页</a>
  		<a th:if="${page.pageIndex} > 1" th:href="@{'queryScenicspots?pageIndex=' + ${page.pageIndex-1}}" >上一页</a>
  		<a th:if="${page.pageIndex} < ${page.totalPage}" th:href="@{'queryScenicspots?pageIndex=' + ${page.pageIndex+1}}" >下一页</a>
  		&nbsp;&nbsp;<a th:href="@{'queryScenicspots?pageIndex='+ ${page.totalPage}}" >尾页</a>
      </div>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }
      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>