<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>aa.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
 	<script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
	<link rel="stylesheet" href= "../static/layui/css/layui.css" media="all">
  </head>
  
  <body>
  <div id="demo1" style="border: 1px solid red;height: 100px;" ></div>
  </body>
  <script src="../static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
	<script type="text/javascript" th:inline="javascript">
	//打开回复框
	layui.use(['laypage', 'layer'], function(){
			var laypage = layui.laypage
			,layer = layui.layer;			  
 		console.log("dsafdsfasdf")
		//总页数大于页码总数
		  laypage.render({
		    elem: 'demo1'
		    ,count: 70 //数据总数
		    ,page:true
		    ,jump: function(obj){
		      console.log(obj)
		    }
		  });
		  
		  
		});
	</script>
  
</html>
