<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>login.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
  </head>
  <body><!-- <div id="dl">
	  		<h3>登录</h3>
	  		账号：<input type="text" name="uname" id="uname"><br>
	  		密码：<input type="text" name="upwd" id="upwd"><br>
			<input type="button" value="异步" onclick="denglu2()">
	  </div>  -->
	  <form  class="form-signin" action="loginform" method="post">
              <h2 class="form-signin-heading">用户登录</h2>
            <table>
                  <tr>
                        <td>用户名:</td>
                        <td><input type="text" name="username"  class="form-control"  placeholder="aa请输入用户名"/></td>
                  </tr>
                        <tr>
                        <td>密码:</td>
                        <td><input type="password" name="password"  class="form-control" placeholder="请输入密码" /></td>
                  </tr>
                  <tr>
                        <td colspan="2">
                              <button type="submit"  class="btn btn-lg btn-primary btn-block" >登录</button>
                        </td>
                  </tr>
            </table>
      </form>
  </body>
  <script type="text/javascript">
  	function denglu2(){
  		var p1=document.getElementById("uname").value;
		var p2=document.getElementById("upwd").value;
  		 $.ajax({
  			url:"login/form",
  			type:'post',
  			datatype:'json',
  			data:{'uname':p1,'upwd':p2},
  			success:function(data){
  				alert(data);
  				if(data!=2){
  					alert("登录成功");
  					window.location.href="cs";
  					/* $.ajax({
  						url:"mc/page",
  						type:'post',
  						datatype:'json',
  						data:{
  							id:data
  						},
  					success:function(data){
  						window.location.href="mc/page";
  					}
  					}); */
  				}else{
  					alert("账号或密码错误");
  				}
  			}
  		}); 
  	}
  </script>
</html>
