<html xmlns:th="http://www.thymeleaf.org">
<head>
   
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../static/layui/css/layui.css"  media="all"> 
<!-- <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/> -->
<style type="text/css">
.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div {
	font-weight: 400
}

</style>
<style type="text/css">
.gm-control-active>img {
	box-sizing: content-box;
	display: none;
	left: 50%;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%)
}

.gm-control-active>img:nth-child(1) {
	display: block
}

.gm-control-active:hover>img:nth-child(1),.gm-control-active:active>img:nth-child(1)
	{
	display: none
}

.gm-control-active:hover>img:nth-child(2),.gm-control-active:active>img:nth-child(3)
	{
	display: block
}
.amapssss
{
	width:70px;
	text-align:center;
	font-color:black;
	font-size: 1.5em;
	border: 1px solid;
	border-color:black;
	background-color: white;
	float: left;
	font-weight:bold;
}
#inputs_s {
	background-color: white;
	
	font-size: 1.5em;
}
</style>
<link type="text/css" rel="stylesheet" href="../static/addXc_files/1.css">
<style type="text/css">
.gm-ui-hover-effect {
	opacity: .6
}

.gm-ui-hover-effect:hover {
	opacity: 1
}

</style>
<style type="text/css">
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div
	{
	font-size: 10px;
	box-sizing: border-box
}
</style>
<style type="text/css">
@media print {
	.gm-style .gmnoprint,.gmnoprint {
		display: none
	}
}

@media screen {
	.gm-style .gmnoscreen,.gmnoscreen {
		display: none
	}
}

</style>
<style type="text/css">
.gm-style-pbc {
	transition: opacity ease-in-out;
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center
}

.gm-style-pbt {
	font-size: 22px;
	color: white;
	font-family: Roboto, Arial, sans-serif;
	position: relative;
	margin: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}
#datepicker {
	position: absolute;
	left: 180px;
}
</style>

<meta name="keywords" content="创建行程, 行程助手">
<meta name="description" content="快来穷游网规划你的行程吧！">
<meta name="google-site-verification"
	content="DVVM1p1HEm8vE1wVOQ9UjcKP--pNAsg_pleTU5TkFaM">
<title>添加行程</title>
<link rel="shortcut icon" href="http://www.qyer.com/favicon.ico">
<link rel="stylesheet"
	href="../static/addXc_files/style.d8e46b36410b485ce0c582e5e8a62479.css">




<script type="text/javascript" charset="utf-8" async=""
	data-requirecontext="_" data-requiremodule="lodash"
	src="../static/addXc_files/lodash.js"></script>

<script type="text/javascript" charset="utf-8" async=""
	data-requirecontext="_"
	data-requiremodule="../static/addXc_files/css.js"
	src="../static/addXc_files/css.js"></script>
<link type="text/css" rel="stylesheet" href="../static/addXc_files/popup.css">
<link type="text/css" rel="stylesheet"
	href="../static/addXc_files/inputAutocomplete.css">


<link type="text/css" rel="stylesheet"
	href="../static/addXc_files/datepicker.css">


<script type="text/javascript" charset="UTF-8"
	src="../static/addXc_files/util.js"></script>

<style type="text/css">
.gm-style {
	font: 400 11px Roboto, Arial, sans-serif;
	text-decoration: none;
}

.gm-style img {
	max-width: none;
}
</style>


<style type="text/css">
@
-webkit-keyframes _gm2865 { 0% {
	-webkit-transform: translate3d(0px, 0px, 0);
	-webkit-animation-timing-function: ease-out;
}
50%
{
-webkit-transform
:
 
translate3d
(0px
,
-20
px
,
0);
-webkit-animation-timing-function
:
 
ease-in
;
 
}
100%
{
-webkit-transform
:
 
translate3d
(0px
,
0
px
,
0);
-webkit-animation-timing-function
:
 
ease-out
;
 
}
}

</style>
<script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
 
</head>

<body style="">
   
	<!--创建流程 -->
	<div id="localCityName" style="display:none;" data-cityid="0"
		data-city=""></div>
    	<div class="plan_creat">
		<!-- 创建地图 -->
		<div class="plan_map_layer" id="container" tabindex="0" >
		</div>
		 
	 
		<!--创建布局 -->
		<div class="plan_creat_warp" id="yd" style="left: 0px;">
			<!--国家城市内容 -->
			<div class="plan_foundcity_content" id="js_plan_foundcity_content
			"
				style="z-index:100;">
				<!--标题 -->
				<div class="titles">
					<strong>选择目的地</strong> <!-- <a href=""
						class="clickmebtn lshow" id="js_mask_showhide" title="收起"
						data-bn-ipg="Plan-plan_create-place_list-flod"></a> -->
					<!--收起class lshow   展开class lhide -->
				</div>
				<div class="searchs">
					<!--搜索框 -->
					<input type="text"  class="searchInput"  id="search_texts"
						 maxlength="20" 
						data-bn-ipg="Plan-plan_create-place_list-search" >
					<div id="inputs_s"></div>
					<input type="hidden" id="uidss" th:value='${session.uid}'>
				</div>
				
				
<!-- 搜索智能提示下拉框 -->
<script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        //测试用的数据，这里可以用AJAX获取服务器数据
        var test_list;
         $.ajax({
        	url:"../backf/queryByCity",
  			type:'post',
  			datatype:'json',
  			success:function(data){
  				
  				test_list=data;
  			}
        }); 
        var old_value = "";
        var highlightindex = -1;   //高亮
        //自动完成
        function AutoComplete(auto, search, mylist) {
            if ($("#" + search).val() != old_value || old_value == "") {
                var autoNode = $("#" + auto);   //缓存对象（弹出框）
                var carlist = new Array();
                var n = 0;
                old_value = $("#" + search).val();
                for (i in mylist) {
                    if (mylist[i].indexOf(old_value) >= 0) {
                        carlist[n++] = mylist[i];
                    }
                }
                if (carlist.length == 0) {
                    autoNode.hide();
                    return;
                }
                autoNode.empty();  //清空上次的记录
                for (i in carlist) {
                    var wordNode = carlist[i];   //弹出框里的每一条内容
                    var newDivNode = $("<div>").attr("id", i);    //设置每个节点的id值
                    newDivNode.attr("style", "font:14px/25px arial;height:25px;padding:0 8px;cursor: pointer;");
                    newDivNode.html(wordNode).appendTo(autoNode);  //追加到弹出框
                    //鼠标移入高亮，移开不高亮
                    newDivNode.mouseover(function () {
                        if (highlightindex != -1) {        //原来高亮的节点要取消高亮（是-1就不需要了）
                            autoNode.children("div").eq(highlightindex).css("background-color", "white");
                        }
                        //记录新的高亮节点索引
                        highlightindex = $(this).attr("id");
                        $(this).css("background-color", "#ebebeb");
                    });
                    newDivNode.mouseout(function () {
                        $(this).css("background-color", "white");
                    });
                    //鼠标点击文字上屏
                    newDivNode.click(function () {
                        //取出高亮节点的文本内容
                        var comText = autoNode.hide().children("div").eq(highlightindex).text();
                        highlightindex = -1;
                        //文本框中的内容变成高亮节点的内容
                        $("#" + search).val(comText);
                        
                    })
                    if (carlist.length > 0) {    //如果返回值有内容就显示出来
                        autoNode.show();
                    } else {               //服务器端无内容返回 那么隐藏弹出框
                        autoNode.hide();
                        //弹出框隐藏的同时，高亮节点索引值也变成-1
                        highlightindex = -1;
                    }
                }
            }
            //点击页面隐藏自动补全提示框
            document.onclick = function (e) {
                var e = e ? e : window.event;
                var tar = e.srcElement || e.target;
                if (tar.id != search) {
                    if ($("#" + auto).is(":visible")) {
                        $("#" + auto).css("display", "none");
                    }
                }
            }
        }
        $(window).on('load',function(){
            old_value = $("#search_text").val();
            /* $("#search_text").focus(function () {
                if ($("#search_text").val() == "") {
                    AutoComplete("auto_div", "search_text", test_list);
                }
            }); */
            $("#search_text").keyup(function () {
            	var a= $("#search_text").val().length;
            	if(a>0){
                AutoComplete("inputs", "search_text", test_list);
            	}
            	else{
                	var c=document.getElementById("inputs");
                	c.style.display='none';
                }

            });
        });
        
 

    </script>				
	
	
	<!-- 搜索框模糊搜索 -->
	<script type="text/javascript">
        //测试用的数据，这里可以用AJAX获取服务器数据
        var test_list;
         $.ajax({
        	url:"../backf/queryByCity",
  			type:'post',
  			datatype:'json',
  			success:function(data){
  				
  				test_list=data;
  			}
        }); 
        var old_value = "";
        var highlightindex = -1;   //高亮
        //自动完成
        function AutoComplete(auto, search, mylist) {
            if ($("#" + search).val() != old_value || old_value == "") {
                var autoNode = $("#" + auto);   //缓存对象（弹出框）
                var carlist = new Array();
                var n = 0;
                old_value = $("#" + search).val();
                for (i in mylist) {
                    if (mylist[i].indexOf(old_value) >= 0) {
                        carlist[n++] = mylist[i];
                    }
                }
                if (carlist.length == 0) {
                    autoNode.hide();
                    return;
                }
                autoNode.empty();  //清空上次的记录
                for (i in carlist) {
                    var wordNode = carlist[i];   //弹出框里的每一条内容
                    var newDivNode = $("<div>").attr("id", i);    //设置每个节点的id值
                    newDivNode.attr("style", "font:25px/36px arial;height:40px;padding:5 8px;cursor: pointer;");
                    newDivNode.html(wordNode).appendTo(autoNode);  //追加到弹出框
                    //鼠标移入高亮，移开不高亮
                    newDivNode.mouseover(function () {
                        if (highlightindex != -1) {        //原来高亮的节点要取消高亮（是-1就不需要了）
                            autoNode.children("div").eq(highlightindex).css("background-color", "white");
                        }
                        //记录新的高亮节点索引
                        highlightindex = $(this).attr("id");
                        $(this).css("background-color", "#ebebeb");
                    });
                    newDivNode.mouseout(function () {
                        $(this).css("background-color", "white");
                    });
                    //鼠标点击文字上屏
                    newDivNode.click(function () {
                        //取出高亮节点的文本内容
                        var comText = autoNode.hide().children("div").eq(highlightindex).text();
                        highlightindex = -1;
                        //文本框中的内容变成高亮节点的内容
                        $("#" + search).val(comText);
                        var v= $("#search_text").val();
                		$("#input").attr('style','display:none')
                		$("#c").text(v+"(出发)")
                		$("#te").attr('style','display:block') 
                        
                    })
                    if (carlist.length > 0) {    //如果返回值有内容就显示出来
                        autoNode.show();
                    } else {               //服务器端无内容返回 那么隐藏弹出框
                        autoNode.hide();
                        //弹出框隐藏的同时，高亮节点索引值也变成-1
                        highlightindex = -1;
                    }
                }
            }
            //点击页面隐藏自动补全提示框
            document.onclick = function (e) {
                var e = e ? e : window.event;
                var tar = e.srcElement || e.target;
                if (tar.id != search) {
                    if ($("#" + auto).is(":visible")) {
                        $("#" + auto).css("display", "none");
                    }
                }
            }
        }
        $(window).on('load',function(){
            old_value = $("#search_texts").val();
            /* $("#search_text").focus(function () {
                if ($("#search_text").val() == "") {
                    AutoComplete("auto_div", "search_text", test_list);
                }
            }); */
            $("#search_texts").keyup(function () {
            	var a= $("#search_texts").val().length;
            	if(a>0){
                AutoComplete("inputs_s", "search_texts", test_list);
            	}
            	else{
                	var c=document.getElementById("inputs_s");
                	c.style.display='none';
                }

            });
        });
        
 

    </script>							
				
				<div class="creatLoading" id="js_creatLoading"
					style="display: none;">
					<div></div>
				</div>
				<div id="create_box" style="height:100%;">
					<div class="address_box">
						<!--大洲筛选 -->
						<div class="order" id="country_typelist">
							<a href="javascript:;" data-typeid="0"
								data-bn-ipg="Plan-plan_create-place_list-continent-1"
								class="current"></a> </div>
					</div>
					<!--国家列表 -->
					<div class="founds" id="cityP">
						<ul class="lists">
							<p>加载中...</p>
						</ul>
					</div>

					<div class="clearfix page"
						style="width:100%; position:absolute; bottom:0; left:0; text-align:center; line-height:64px; border-top:1px solid #ededed; z-index:30; background:#fff; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
						<div class="ui_page" id="fenye">
							login...
						</div>
					</div>
				</div>
				<!--城市浮动层 -->
				<div class="plan_maskLayer" style="display:none;">
					<div class="minfo" id="card_layer_box"></div>
					<div class="mask_arrow"></div>
					<div class="mask_close"></div>
				</div>
			</div>
			<!--我的行程列表 ---总大-->
			<div class="plan_myplan_content" style="display:none;"id="js_myplanbox">
				<div class="titles">
          			<strong>我的行程</strong>
         		 	<!-- 	<div id="datepicker">
						出发：<input type="date" id="ttt" value="2018-03-27" />
					</div> -->
					 <div class="layui-inline">
      						<label class="layui-form-label" >出发时间:</label>
     						 <div class="layui-input-inline">
       						 <input type="text" class="layui-input" id="test29" style="width:110px; height:42px; " placeholder="yyyy-MM-dd">
      						</div>
    				</div>
       			 </div>
       			<!--  主 -->
				<div class="lists" id="js_height_resize">
					<div class="listGo updown" data-type="20">
						<div class="text" id="te">
							<strong id="c">输入出发城市</strong> <a href="javascript:c();" id="c" title="修改"
								class="js_edit_city"
								data-bn-ipg="plan-plan_create-place_list-alter_depart"></a>
						</div>
						<div class="input" id="input" style="display:none;">
							<input type="text" class="js_start_city" value="" id="search_text"
								placeholder="输入出发城市" maxlength="20"> <span class="enter" onclick="entervs()"></span>
						</div>
						<div id="inputs"></div>
					</div>
					<div id="js_plancitys" class="ui-sortable">
						<div class="traffics js_traffic" data-cid="0_c1" data-fromxcid="0"
							data-toxcid="c1">
							<p class="cnt js_traffic_info">
								<span class="traffic noinfo"></span>
							</p>
						</div>
				  <div class="items js_cityitem" id="mm" data-xcid="c1" style="cursor:move;">
							<a href="javascript:fun()"  class="close" title="delete"
								data-bn-ipg="plan-plan_create-place_list-delcity"></a> <strong id="sh">上海</strong>
							<div class="number">
								<span class="licon js_reduceday" title="减" onclick="jian()"
									data-bn-ipg="plan-plan_create-place_list-reduceday"></span> <span
									class="nmr js_day" id="tian">2天</span> <span class="ricon js_addday"
									title="加" onclick="jia()" data-bn-ipg="plan-plan_create-place_list-addday"></span>
							</div>
						</div> 
						<div class="traffics js_traffic" data-cid="c1_1"
							data-fromxcid="c1" data-toxcid="1">
							<p class="cnt js_traffic_info">
								<span class="traffic noinfo"></span>
							</p>
						</div> 
					</div>
					<!-- <div class="listSpace updown" data-type="21">
						<div class="text">
							<strong>输入返回城市</strong> <a href="javascript:;" title="修改"
								class="js_edit_city"
								data-bn-ipg="plan-plan_create-place_list-alter_back"></a>
						</div>
						<div class="input" style="display:none;">
							<input type="text" class="js_end_city" value=""
								placeholder="输入返回城市" maxlength="20"> <span class="enter">enter</span>
						</div>
					</div> -->
				</div>
				<!--  下一步 -->
       			 <div class="next">
         			 <a href="javascript:;"  onclick="xyb()" title="下一步" id="js_createplan_save" data-bn-ipg="plan-plan_create-place_list-nextstep" data-method="confirmTrans" ></a>
       			 </div>
		   </div>
				
				
				
				
			</div>
	</div>


	

	<div class="qui-popup" style="display:none">
		<div>
			<div class="qui-popup-dt">
				<div class="qui-popup-box">
					<div class="qui-popup-closeIcon">&nbsp;</div>
					<div class="qui-popup-box-title fontYaHei">title</div>
					<div class="qui-popup-box-content"></div>
					<div class="qui-popup-box-bottom">
						&nbsp;<input class="qui-popup-cancelBtn ui_button_cancel"
							type="button" value="取消"> <input
							class="qui-popup-okBtn ui_button" type="button" value="确定">
						<input class="qui-popup-loadingBtn  ui_button_load" type="button"
							value="">
							
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="https://webapi.amap.com/maps?v=1.4.13&key=266190ba6929ccee06c2600f93da6538&plugin=AMap.Driving"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>

<script type="text/javascript">
var centsr_s= [113,34]
// 创建地图实例
var map = new AMap.Map("container", {
    zoom:6,
    center:centsr_s,
    resizeEnable: true
});


	var curPage;        //当前页数
	var totalItem;      //总记录数
	var totalPage;      //总页数
	
	function page(num)
	{
	    
	        map.clearMap();
	    
		
		$.ajax({
            type: "post",
            url: "pageCity",
            data : {pageNum:num},
            dataType: "json",
            success: function(data){
            	var obj = JSON.stringify(data);
            	//console.log(data);
            	console.log(data.list[0].locationj);
            	var citys_s=data.list;
            	
            	var b = new Array(citys_s.length);
                for (var i = 0; i < citys_s.length; i++) {
                	
                    b[i] = [citys_s[i].locationj, citys_s[i].locationw,citys_s[i].cname];
                }
                console.log(b);
                var markers = [];
                for (var i = 0; i < b.length; i++) {
                    var lnglat = b[i];
                    console.log(lnglat+'1111111');
                    // 创建点实例
                    var markerContent = '' +
                        '<div class="custom-content-marker">' +
                        ' <div class="amapssss" style="color:balck;" id="a_s'+i+'" onclick="d_s('+i+')">'+lnglat[2]+'</div>' +
                        '<img src="//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png" style="width:35px;height:45px">' +
                        
                        '</div>';
                    var marker = new AMap.Marker({
                        position: new AMap.LngLat(lnglat[0], lnglat[1]),
                        content: markerContent,
                    });
                    markers.push(marker);
                }
                // 将点添加到地图
                map.add(markers);
              
            	
            	
            	//后台是Map集合 需要取集合值然后遍历
            	var citys=data.list;    //list数据
            	curPage=data.curPage;     //当前页数
            	totalPage=data.totalPage; //总页数
            	var str ="";
            	$("#cityP").html('');
            	str+="<ul class='lists'>";
            	//拼接
            	 for(var i = 0;i<citys.length;i++){
        			 var city  = citys[i]; 
        			 str +="<li class='items js_country js_items' data-type='country' data-bn-ipg='Plan-plan_create-place_list-country-11'>"
        			 		+"<a href='javascript:;'><img src='../static/pic/"+city.citypic+"' width='80' height='80' class='listImg' id='p'></a>"
        			 		+"<div class='title'>"                                                                                          
        			 		+"<a href='javascript:;'> <span class='cn' name='cns' id='cns"+i+"'>"+city.cname+"</span><span class='en'>"+city.englist+"</span></a>  "
        			 		+"</div> <div class='text'> </div>"
        			 		+"<a href='javascript:void(0);' id='o' onclick='add("+i+")' class='addcity _js_addcity' data-cityid='11595' title='添加到行程' data-bn-ipg='plan-plan_create-place_list-city-addcity'></a></li>";
        		 }
            	str+="</ul>";
            	$("#cityP").html(str);
            	
            },
            complete: function() {    //添加分页按钮栏
                getPageBar();
             },
            //失败方法
            error: function() {    
                alert("数据加载失败");
            }
        });
	}
	function getPageBar()
	{
		if(curPage>totalItem)  //如果当前页数大于总页数
		{
			curPage = totalPage;
		}
		//如果小于1就等于1从第一页开始
		if(curPage < 1) {
		    curPage = 1;
		}
		var pageBar = "";
		
		//如果不是第一页
		if(curPage !=1 )
		{
			pageBar+="<a  href='javascript:page("+(curPage-1)+");' class='ui_page_item ui_page_prev' title='上页'" 
			+">上一页</a>";
		}
		//显示的页码按钮(5个)
		  var start,end;
		  if(totalPage <= 5) {
		    start = 1;
		    end = totalPage;
		  } else {
		    if(curPage-2 <= 0) {
		        start = 1;
		        end = 5;
		    } else {
		        if(totalPage-curPage < 2) {
		            start = totalPage - 4;
		            end = totalPage;
		        } else {
		            start = curPage - 2;
		            end = curPage + 2;
		        }
		    }
		  }
		  
		  
		  //拼接分页数字
		for(var i=start;i<=end;i++)
		{
			if(i==curPage)
			{
				pageBar+="<a "
 						+"href='javascript:page("+i+");' class='ui_page_item ui_page_item_current'"
 						+">"+i+"</a>";
			}else{
				pageBar+="<a "
						+"href='javascript:page("+i+");' class='ui_page_item'"
						+">"+i+"</a>";
			}
		}
		  //如果不是最后页
		  if(curPage != totalPage){
			  pageBar+="<a  href='javascript:page("+(curPage+1)+");' class='ui_page_item ui_page_prev' title='上页'" 
				+">下一页</a>";
		  }  
		  $("#fenye").html(pageBar);
	}
	
	
	
	$(function(){  
	
		page(1);
	});  
	
	function add(e)
	{
		
		var a=e;
		//当前页的所有值
		$("span[name='cns']").each(function(){
            var value = $(this).text(); 
            //alert(value);
    	 });
	
		
		//点击当前的值
		var v=$("#cns"+a).text();
		//alert(v);
		//淡出效果
		$("#js_myplanbox").fadeIn(1000);
		$("#sh").text(v);
		
	}
	function fun()
	{
		$("#js_myplanbox").fadeOut(1000);
	}
    function c()
    {
    	
    	$("#input").attr('style','display:block');
    	$("#te").attr('style','display:none');
    }
	
    function d_s(n)
    {
    	var m=n;
    	var city_c=$("#a_s"+m).html();
    	$("#js_myplanbox").fadeIn(1000);
    	$("#sh").text(city_c);
    	/* alert(city_c); */
    }
</script>
</script>
	<!-- 输入城市样式 -->
	<script>
	function entervss()
	{
		 var v= $("#search_text").val();
		$("#input").attr('style','display:none')
		$("#c").text(v+"(出发)")
		$("#te").attr('style','display:block') 
		
	}
	
	
</script>
<script>
//点击下一步添加行程数据
function xyb()
{
	
	
	 var star=$("#search_text").val();
	var end=$("#sh").text();
	var time=$("#test29").val();
	var tex=$("#tian").text();
	
	var days=tex.substring(0,1);
	
	var uid=25;
	var tname=456;
	var picd= Math.floor(Math.random()*21);
	var picf= Math.floor(Math.random()*21+100);
	//var uid = sission()   用户的uid
	if(time=='')
	{
		layer.msg('添加个出发时间吧！', {
	        time: 20000, //20s后自动关闭
	        btn: ['明白了', '好的', ]
	      });
	      
		/* alert(11) */
		return;
	}
	if(star=='')
	{
		layer.msg('添加个出发城市吧！', {
	        time: 20000, //20s后自动关闭
	        btn: ['明白了', '好的', ]
	      });
	      
		/* alert(11) */
		return;
	}
	if(uid=='')
	{
		layer.msg('创建失败了！', {
	        time: 20000, //20s后自动关闭
	        btn: ['明白了', '好的', ]
	      });
	      
		/* alert(11) */
		return;
	}
	
	 $.ajax({
        type: "post",
        url: "addxct",
        data: {start:star,end:end,days:days,startTime:time,uid:uid,tname:tname,picd:picd,picf:picf},
        dataType: "json",
        success: function(data){
        	
        	if(data==1){
        		 //添加第几天信息
        		  $.ajax({
		   	          type: "post",
		   	          url: "tidm",
		   	          data: {uid:uid},
		   	          dataType: "json",
		   	          success: function(data){
		   	              var po=data;
			   	           $.ajax({
					   	          type: "post",
					   	          url: "ts",
					   	          data: {num:days,uid:uid,tid:po},
					   	          dataType: "json",
					   	          success: function(data){
					   	        	
					   	          }
					   	      });  
		   	          }
		   	      });  
        		         		
        		layer.msg('创建成功！')
        	window.location.href="addgls?uid="+uid;
        	} 
        	else
        		{
        		alert("添加失败");
        		}
        	
        }
    });   	 	 
}
</script>
<!-- 点击天数加减 -->
<script type="text/javascript">
	function jian()
	{
		var tex=$("#tian").text();
		var t=tex.substring(0,1);
		if(t!=1)
		{
			t--;
			$("#tian").text(t+"天");
			
		}
		 
	}
	function jia()
	{
		var texs=$("#tian").text();
		var ts=texs.substring(0,1);
		if(ts!=7)
		{
			ts++;
			$("#tian").text(ts+"天");
			
		}
	}
	
</script>
<script src="../static/layui/layui.js" charset="utf-8"></script>
<!-- 时间框 -->
<script>
/* 这是个数组layui  分页需要定义成全局的 */
layui.use(['laydate','layer'], function(){
	  var laydate = layui.laydate,
	  
	  layer = layui.layer;
	//墨绿主题
	  laydate.render({
	    elem: '#test29'
	    ,theme: 'molv'
	  });
});

</script>

  
<script type="text/javascript">

    
</script>
</body>
</html>