<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" async="" charset="utf-8"
	src="../static/jingdian_files_mfw/core.php"></script>
<script type="text/javascript" async="" charset="utf-8"
	src="../static/jingdian_files_mfw/c.php"></script>
<script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
<title>旅游景点 - 穷游网</title>
<meta name="description"
	content="我们帮您寻找到适合你的旅行目的地，让你的旅行更精彩！">
<meta name="keywords"
	content="最新热门目的地推荐,最新自助游,最新旅行手册路书下载,最新游记照片">
<meta name="author" content="">
<meta name="renderer" content="webkit">
<script type="text/javascript">
function show(){
	var ssname=$("#ssname").val();
	alert(ssname);
	if(ssname == ""){
	    alert("请输入景点名字");
	 }else{
		//ajax去服务器端校验
		var data= {ssname:ssname};
		 $.ajax({
	          	type:"post",
	            url:"/Travle/scens/queryBySsid",
	        	data:data,
	      		dataType:'json',
	       		success:function(data){
	            	alert(data)
	             	if(data != ""){
	                   window.location.href = "/Travle/a/aa";   
		            }else{
		                   alert("输入的景点不存在，请重新输入!");
		                   $("#ssname").trim();
		            }
	           }
	      });
	 }
}


</script>
<script type="text/javascript">
window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"http:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":71152667,"CSTK":"d91bb2a66391254d8280a027bcb65872_f04f4fcf79ce139cb3ac63177504ea79","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","MOBILE_BINDED":true};
</script>

<link
	href="../static/jingdian_files_mfw/css+base_css+jquery.suggest_css+plugins_css+plugins+jquery.jgrowl_css+other+popup_css+mfw-header.2015^YlVS^1527308432.css"
	rel="stylesheet" type="text/css">

<link href="../static/jingdian_files_mfw/mfw-place.2015.css"
	rel="stylesheet" type="text/css">


<script language="javascript"
	src="../static/jingdian_files_mfw/js+jquery-1.8.1.min_js+global+json2_js+M+Module_js+M+M_js+M+Log_js+m.statistics_js+advert+inspector^alw^1548830766.js.下载"
	type="text/javascript" crossorigin="anonymous"></script>

<script async=""
	src="../static/jingdian_files_mfw/AHea.下载"
	crossorigin="anonymous"></script>
<script async="" src="../static/jingdian_files_mfw/BrowserState.js.下载"
	crossorigin="anonymous"></script>
	
</head>
<body style="position: relative;">
	<div id="header" xmlns="javascript:void(0)">
		<div class="mfw-header header-place-default" style="opacity: 1;">
			<div class="header-wrap clearfix">
				<div class="head-logo">
					<a class="mfw-logo" title="景点" href="javascript:void(0)"></a>
				</div>
				<ul class="head-nav" data-cs-t="headnav" id="_j_head_nav">
					<li class="head-nav-index" data-cs-p="index"><a
						href="javascript:void(0)">首页</a></li>
					<li class="head-nav-place head-nav-active" data-cs-p="mdd"><a
						href="javascript:void(0)" title="目的地">目的地</a></li>
					<li class="head-nav-gonglve" data-cs-p="gonglve"><a
						href="javascript:void(0)" title="旅游攻略">旅游攻略</a></li>
				</ul>
				<!-- <div class="head-search" data-online="1">
					<div class="head-search-wrapper">
						<div class="head-searchform">
							<input name="q" type="text" id="_j_head_search_input"
								autocomplete="off"> <a role="button" href="javascript:"
								class="icon-search" id="_j_head_search_link"></a>
						</div>
					</div>
				</div> -->
				<div id="pagelet-block-4a16f894e381f68336d810b087231f58"
					class="pagelet-block" data-api="apps:user:pagelet:pageViewHeadInfo"
					data-params="{&quot;type&quot;:1}" data-async="1"
					data-controller="/js/pageletcommon/pageHeadUserInfoWWWNormal">
					<div class="login-info">
						<div class="head-user" id="_j_head_user">
							<a class="drop-trigger"
								href="http://www.mafengwo.cn/u/71152667.html" title="恃宠而骄的窝"
								rel="nofollow">
								<div class="user-image">
									<img
										src="../static/jingdian_files_mfw/wKgEaVx2NfuAbIPrAAKseGwXIyw20.jpeg"
										height="32" width="32" alt="恃宠而骄的窝">
								</div> <i class="icon-caret-down"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="shadow"></div>
		</div>
		新自由行菜单 end
		<script class="header-place-default">
    //判断是否显示 下拉bar
;(function () {
    window.showBarFlag = true;
    var realPathName = location.pathname,$nav = $('#Js_middleNav');
    var regExp = /localdeals|sales|flight|insurance|activity/gi;
    var pathArr = realPathName.match(regExp);

    var firstSalesType = 0;
    if ([1, 3, 34, 50, 51, 52].indexOf(window.Env.salesType) > -1) {
        firstSalesType = 3
    } else if ([4, 40, 41, 42, 43, 44].indexOf(window.Env.salesType) > -1) {
        firstSalesType = 4
    //  } else if ([11, 90, 91, 92, 93, 94, 95, 96].indexOf(window.Env.salesType) > -1) {
    //    firstSalesType = 11
    } else if ([6, 30, 32, 33, 35, 36].indexOf(window.Env.salesType) > -1) {
        firstSalesType = 6
    } else if ([5].indexOf(window.Env.salesType) > -1) {
        firstSalesType = 5
    } else if ([21, 22, 70].indexOf(window.Env.salesType) > -1) {
        firstSalesType = 21
    } else if ([28, 29, 31, 99].indexOf(window.Env.salesType) > -1) {
        firstSalesType = 1
    } else {
        firstSalesType = 2
    }
    // } else if ([2, 9, 12, 13, 15, 17, 20, 21, 22, 23, 24, 25, 26, 46, 47, 48, 49, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79])

        if(window.Env.middleNavHide) { $('.dropdown-bar').hide();return;}
        if(realPathName == '/sales/0-0-0-5-0-0-0-0.html' || firstSalesType ==5){
            $nav.children('[data-type="cruise"]').addClass('on');
            window.showBarFlag = false;
            $('.dropdown-bar').show();
        }else if(realPathName == '/localdeals/0-0-0-21-0-0-0-0.html' || firstSalesType ==21){
            $nav.children('[data-type="wifi"]').addClass('on');
            window.showBarFlag = false;
            $('.dropdown-bar').show();
        }else if(window.Env.sales_title_tag == 'visa' || firstSalesType == 4){
            $nav.children('[data-type="visa"]').addClass('on');
            window.showBarFlag = false;
            $('.dropdown-bar').show();
        }else if(window.Env.sales_title_tag == 'semi_self_service' || realPathName == '/sales/0-0-0-6-0-0-0-0.html?group=4' || firstSalesType == 6){
            $nav.children('[data-type="freewalker"]').addClass('on');
            window.showBarFlag = false;
            $('.dropdown-bar').show();
        }
        else if(window.Env.salesType) {
            switch(firstSalesType|0) {
                case 1:
                case 3:
                    $nav.children('[data-type="sales"]').addClass('on');
                    break;
                case 2:
                    $nav.children('[data-type="localdeals"]').addClass('on');
                    break;
                case 30:
                case 6:
                    $nav.children('[data-type="freewalker"]').addClass('on');
                    break;
                default:
                    $nav.children('[data-type="localdeals"]').addClass('on');
                    break;
            }
            window.showBarFlag = false;
            $('.dropdown-bar').show();
        }
        else {
            if( pathArr){
                if(pathArr.length == 1 && pathArr[0] != 'activity'){
                    switch(pathArr[0]){
                        case 'localdeals':
                            $nav.children('[data-type="localdeals"]').addClass('on');
                            break;
                        case 'insurance':
                            $nav.children('[data-type="insurance"]').addClass('on');
                            break;
                        case 'sales':
                            $nav.children('[data-type="sales"]').addClass('on');
                            break;
                        case 'flight':
                            $nav.children('[data-type="flight"]').addClass('on');
                            break;
                        default:
                            break;
                    }
                    window.showBarFlag = false;
                    $('.dropdown-bar').show();
                }else {
                    if('activity'.indexOf(pathArr) != -1){
                        window.showBarFlag  = true;
                        $('.dropdown-bar').hide();
                    }
                }
        }
    }
        // 点击时触发
        $('.ul-dropdown-bar > li').on('click',function () {
            $(this).addClass('on').siblings().removeClass('on');
        });
})();

</script>
</div>
<script type="text/javascript">
    $("#header >").addClass("header-place-default").hover(function(e){
        e.stopPropagation();
        $(this).removeClass('header-place-default');
    },function(e){
        e.stopPropagation();
        $(this).stop().css({
            opacity:0.1
        }).addClass('header-place-default').animate({
                opacity:1
            },300).find('.dropdown-group >').hide();
    });
</script>
	<div class="container" data-cs-t="目的地首页">
		<div class="place-focus" data-cs-p="头图">
			<div class="show-banner show-info-notes">
				<div class="cover" style="height: auto;">
					<a class="bigimg"
						href="javascript:void(0)"
						target="_blank" data-cs-l="图片" style="height: 556px;">

						<div class="shade"></div> <img data-ow="1300" data-oh="500"
						src="../static/jingdian_files_mfw/wKgEaVx5RJiAUkiXAAjRce3d4pY21.jpeg"
						style="margin: -14.1154px 0px 0px; height: auto; width: 100%;">
					</a>
				</div>
				<div class="show-info">
					<div class="owner"></div>
					<div class="show-name">
						<a href="javascript:void(0)"
							target="_blank" data-t="目的地">
							<h2>封岛结束，重新开岛！海岛控速速收藏哦</h2>
							<span></span>
						</a>
					</div>
					<p class="location">前往泰国和马来西亚的岛屿前，必须了解该岛屿的“开岛”和“封岛”时间！那是什么玩意呢？</p>
				</div>
				<div class="show-shadow"></div>
				<div class="show-ft">
					<div class="show-ft-item pic-from">
						<i></i>
						<div class="pic-from-pop">
							<span> <a href="javascript:void(0)"
								target="_blank" data-t="作者">SEA游记</a> 的作品
							</span> <em></em>
						</div>
					</div>
					<div class="show-ft-item pic-share">
						<div class="pop-share" id="_j_sharecnt"
							data-content="封岛结束，重新开岛！海岛控速速收藏哦——前往泰国和马来西亚的岛屿前，必须了解该岛屿的“开岛”和“封岛”时间！那是什么玩意呢？。"
							data-title="封岛结束，重新开岛！海岛控速速收藏哦"
							style="display: none">
						</div>
					</div>
				</div>
			</div>
			<div class="place-search-panel">
				<h2>Don't fear the unknown</h2>
				<form name="mdd-search-form"
					action="javascript:void(0)" method="get">
					<div class="searchbar">
						<input autocomplete="off" class="search-input" type="text"
							id="ssname"  placeholder="我想去..."> 
							<a class="search-button" href="javascript:void(0)" data-cs-l="搜索" role="button" id="buttons" onclick="show()">
							<i class="icon-search"></i></a>
					</div>
				</form>
				<div class="search-suggest-panel search-suggest-place hide">
					<ul class="suggest-list">

					</ul>
				</div>
				<div class="place-search-hot">
					<a
						href="javascript:void(0)">广州</a><a
						href="javascript:void(0)">苏州</a><a
						href="javascript:void(0)">重庆</a><a
						href="javascript:void(0)">新加坡</a><a
						href="javascript:void(0)">清迈</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
        //图片处理
        function loadImg(src, load) {
            $(new Image()).load(load)[0].src = src;
        }
        function coverPicLoad(img,$con,fitType,cropData){
            var $img = $(img = img || this);
            if (typeof $con == "string" || typeof $con == "number") {
                fitType = $con;
                $con = $img.parent();
            } else if ($.type($con) != "object" || $.isPlainObject($con)) {
                $con = $img.parent();
            }
            var imagew = (img = $img[0]).naturalWidth, imageh = img.naturalHeight,
                offsetw = $con.width(),
                offseth = $con.height(),
                css = {};
            if(!imagew){
                if($img.attr("data-ow")){
                    imagew =  $img.attr("data-ow");
                    imageh =  $img.attr("data-oh");
                }else{
                    $img.attr("data-ow",imagew = img.width);
                    $img.attr("data-oh",imageh = img.height);
                }
            }
            if (imagew / imageh >= offsetw / offseth) {
                if (imageh >= offseth || fitType=="1") {
                    css = {
                        margin: "0 0 0 " + (offsetw - imagew / (imageh / offseth)) / 2 + "px",
                        height: fitType=="1"?"100%":offseth,
                        width: "auto"
                    };
                } else if (imageh / offseth >= 0.95) {
                    css = {
                        margin: "0 0 0 " + (offsetw - imagew) / 2 + "px",
                        width: imagew,
                        height: offseth
                    };
                } else{
                    css = {
                        margin: (offseth - imageh) / 2 + "px 0 0 " + (offsetw - imagew) / 2 + "px",
                        width: "auto",
                        height: "auto"
                    };
                }
            } else {
                if (imagew >= offsetw || fitType=="1") {
                    css = {
                        margin: (offseth - imageh / (imagew / offsetw)) / 2 + "px 0 0 0",
                        width: fitType=="1"?"100%":offsetw,
                        height: "auto"
                    };
                } else if (imagew / offsetw >= 0.95) {
                    css = {
                        margin: (offseth - imageh) / 2 + "px 0 0 0",
                        width: offsetw,
                        height: imageh
                    };
                } else {
                    css = {
                        margin: (offseth - imageh) / 2 + "px 0 0 " + (offsetw - imagew) / 2 + "px",
                        width: "auto",
                        height: "auto"
                    };
                }
            }
            $img.css(css).appendTo($con);
        }
        //头图处理
        (function(){
            var $window = $(window),
                $banner = $('.place-focus'),
                $cover = $banner.find('.show-banner >.cover'),
                $coverc = $cover.find('a.bigimg'),
                img = $coverc.find('img'),
                $info = $banner.find('.show-info'),
                $searchPanel = $('.place-search-panel'),
                _resizetimeout;

            function calHeight() {
                var wh = $window.height(), ww = Math.max($banner.width(), $window.width());
                if (wh > ww * .8) {
                    return img.data('oh') / img.data('ow') * ww;
                } else {
                    return Math.max(wh - Math.max(Math.min(wh - 550, 150), 100), 400);
                }
            }
            $cover.height(calHeight());
            if (img[0].complete) {
                $cover.height('auto');
            } else {
                img.load(function () {
                    $cover.height('auto');
                });
            }
            var winH, winW;
            $window.bind('resize.bannerimg', function (e, t) {
                var height = $window.height();
                var width = $window.width();
                if (winH != height || winW != width) {
                    winH = height;
                    winW = width;
                    $info[$window.width() <= 1440 ? 'addClass' : 'removeClass']('show-info-sm');
                    $searchPanel[$window.width() <= 1440 ? 'addClass' : 'removeClass']('place-search-panel-sm');
                    coverPicLoad(img, $coverc.height(calHeight()), 1);
                }
            }).trigger("resize.bannerimg");
        })();
        /*头图用户信息显示*/
        var $uFrom =$('.pic-from'),
            $uFromPop=$uFrom.find('.pic-from-pop'),
            _oUFromPopw = $uFromPop.width();
        $uFrom.hover(function(){
            $uFromPop.stop(true).width(0).css({
                visibility:'visible'
            }).animate({
                    width:_oUFromPopw
                });
        },function(){
            $uFromPop.stop(true).animate({
                width:0
            },function(){
                $(this).css('visibility','hidden');
            });
        });

        //向下滚动
        $('.show-arrdown').click(function(e){
            e.preventDefault();
            var top = $('.row:first').offset().top;
            $('html,body').stop().animate({
                'scrollTop':top
            },300);
        });
        $('.show-links').find('.icon-arr').eq(0).hide();
    </script>
<div class="row-line"></div>
	<div id="pagelet-block-47834b62eec716dc68731158cc8ca0d8"
		class="pagelet-block" data-api=":mdd:pagelet:seasonRecommendApi"
		data-params="[]" data-async="1" data-controller="">
		<div class="row row-season row-bg">
			<div class="wrapper">
					<div class="r-title">
						<h2>当月推荐</h2>
					</div>
					<div class="r-navbar">
						<ins th:each="mt:${MonthsList}" style="light-height=5px;">
							<a th:href="@{/scens/queryByThemeid(monthsid=${mt.mid})}" th:text="${mt.mname}"></a>
						</ins>
					</div>
					<div class="J_catemdds">
						<div class="tiles"  id="langman">	
							<div class="item col4" th:each="msl:${MonthsidList}">
								<a th:href="@{/scens/queryBySsid(ssid=${msl.ssid})}" target="_blank">
								<img th:src="${msl.scenicspotspic}" width="238" height="220"> 
								<div class="title" th:text="${msl.ssname}"></div></a>
						</div>
					</div>
				</div>
			<div class="row-line"></div>
		</div>
		<div id="pagelet-block-46b27ef459bbe5b0b073d481a9d26796" class="pagelet-block" data-api=":mdd:pagelet:themeRecommendApi"
			data-params="[]" data-async="1" data-controller="">
			<div class="row row-theme">
				<div class="wrapper">
					<div class="r-title">
						<h2>主题精选</h2>
					</div>
					<div class="r-navbar">
						<span class="divide">|</span>
						<ins th:each="th:${themeList}">
							<a th:href="@{/scens/queryByThemeid(themeid=${th.tid})}" th:text="${th.tname}"></a>
						</ins>
					</div>
					<div class="J_catemdds">
						<div class="tiles"  id="langman">	
							<div class="item col4" th:each="t:${ThemeidTwo}">
								<a th:href="@{/scens/queryBySsid(ssid=${t.ssid})}" target="_blank">
								<img th:src="${t.scenicspotspic}" width="238" height="220"> 
								<div class="title" th:text="${t.ssname}"></div></a>
							</div>
						</div>
					</div>
				</div>
			<div class="row-line"></div>
		</div>
	</div>
</div>
	<script language="javascript"
		src="../static/jingdian_files_mfw/mdd_index.js.下载"
		type="text/javascript" crossorigin="anonymous"></script>


</div>
	<link href="../static/jingdian_files_mfw/mfw-footer.css"
		rel="stylesheet" type="text/css">

	<div id="footer">
		<div class="ft-content" style="width: 1105px">
			<div class="ft-info clearfix">
				<dl class="ft-info-col ft-info-intro">
					<dt>全球旅游消费指南</dt>
					<dd>覆盖全球200多个国家和地区</dd>
					<dd>
						<strong>100,000,000</strong> 位旅行者
					</dd>
					<dd>
						<strong>920,000</strong> 家国际酒店
					</dd>
					<dd>
						<strong>21,000,000</strong> 条真实点评
					</dd>
					<dd>
						<strong>382,000,000</strong> 次攻略下载
					</dd>
					<dd>
						<a class="highlight"
							href="http://www.mafengwo.cn/activity/sales_report2017/index"
							target="_blank">马蜂窝全球自由行“玩法”</a>
					</dd>
				</dl>
				<dl class="ft-info-col ft-info-about">
					<dt>关于我们</dt>
					<dd>
						<a href="javascript:void(0)" rel="nofollow">关于穷游</a><a
							href="javascript:void(0)" class="m_l_10"
							rel="nofollow">联系我们</a>
					</dd>
					<dd>
						<a href="http://www.mafengwo.cn/s/private.html" rel="nofollow">隐私政策</a><a
							href="http://www.mafengwo.cn/s/logo.html" rel="nofollow"
							class="m_l_10">商标声明</a>
					</dd>
					<dd>
						<a href="http://www.mafengwo.cn/s/agreement.html" rel="nofollow">服务协议</a><a
							href="http://www.mafengwo.cn/s/rules.html" rel="nofollow"
							class="m_l_10">游记协议</a>
					</dd>
					<dd>
						<a href="http://www.mafengwo.cn/s/salesagreement.html"
							rel="nofollow">商城平台服务协议</a>
					</dd>
					<dd>
						<a href="http://www.mafengwo.cn/s/property.html" rel="nofollow">网络信息侵权通知指引</a>
					</dd>
					<dd>
						<a href="http://www.mafengwo.cn/s/sitemap.html" target="_blank">网站地图</a><a
							class="joinus highlight m_l_10" title="马蜂窝团队招聘" target="_blank"
							href="http://www.mafengwo.cn/s/hr.html" rel="nofollow">加入马蜂窝</a>
					</dd>
				</dl>
				<dl class="ft-info-col ft-info-service">
					<dt>旅行服务</dt>
					<dd>
						<ul class="clearfix">
							<li><a target="_blank"
								href="http://www.mafengwo.cn/gonglve/">旅游攻略</a></li>
							<li><a target="_blank" href="http://www.mafengwo.cn/hotel/">酒店预订</a></li>
							<li><a target="_blank" href="http://www.mafengwo.cn/sales/">旅游特价</a></li>
							<li><a target="_blank" href="http://zuche.mafengwo.cn/">国际租车</a></li>
							<li><a target="_blank" href="http://www.mafengwo.cn/wenda/">旅游问答</a></li>
							<li><a target="_blank" href="http://www.mafengwo.cn/insure/">旅游保险</a></li>
							<li><a target="_blank" href="http://z.mafengwo.cn/">旅游指南</a></li>
							<li><a target="_blank" href="http://huoche.mafengwo.cn/">订火车票</a></li>
							<li><a target="_blank"
								href="http://www.mafengwo.cn/travel-news/">旅游资讯</a></li>
							<li><a target="_blank"
								href="http://www.mafengwo.cn/app/intro/gonglve.php">APP下载</a></li>
							<li style="width: 120px;"><a target="_blank"
								href="http://www.mafengwo.cn/sales/alliance.php"
								class="highlight">旅行商城全球商家入驻</a></li>
						</ul>
					</dd>
				</dl>
				<dl class="ft-info-col ft-info-qrcode">
					<dd>
						<span class="ft-qrcode-tejia"></span>
						<p>
							马蜂窝良品<br>官方服务号
						</p>
					</dd>
					<dd>
						<span class="ft-qrcode-weixin"></span>
						<p>
							马蜂窝旅游<br>订阅号
						</p>
					</dd>
					<dd>
						<span class="ft-qrcode-weixin"
							style="background-image: url(&#39;https://p3-q.mafengwo.net/s10/M00/48/A9/wKgBZ1t_4sSAVJ6uAAAlzJ0PZgU881.png?imageMogr2%2Fthumbnail%2F%2194x90r%2Fgravity%2FCenter%2Fcrop%2F%2194x90%2Fquality%2F90&#39;)"></span>
						<p>
							马蜂窝APP<br>扫描立即下载
						</p>
					</dd>
				</dl>
				<dl class="ft-info-social">
					<dt>向崇尚自由的加勒比海盗致敬！</dt>
					<dd>
						<a class="ft-social-weibo" target="_blank"
							href="http://weibo.com/mafengwovip" rel="nofollow"><i
							class="ft-social-icon"></i></a> <a class="ft-social-qqt"
							target="_blank" href="http://t.qq.com/mafengwovip" rel="nofollow"><i
							class="ft-social-icon"></i></a> <a class="ft-social-qzone"
							target="_blank" href="http://1213600479.qzone.qq.com/"
							rel="nofollow"><i class="ft-social-icon"></i></a>
					</dd>
				</dl>
			</div>

			<div class="ft-copyright">
				<a href="http://www.mafengwo.cn/"><i class="ft-mfw-logo"></i></a>
				<p>
					© 2019 Mafengwo.cn <a href="http://www.miibeian.gov.cn/"
						target="_blank" rel="nofollow">京ICP备11015476号</a> <a
						href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502013401"
						target="_blank"><img
						src="../static/jingdian_files_mfw/police_record.png" width="12"
						style="margin:0 2px 4px 0;">京公网安备11010502013401号</a> <a
						href="http://images.mafengwo.net/images/about/icp2.jpg"
						target="_blank" rel="nofollow">京ICP证110318号</a><span
						class="m_l_10">违法和不良信息举报电话: 010-59222790 举报邮箱
						mfwyouji@mafengwo.com</span>
				</p>
				<p>
					网络出版服务许可证：(总)网出证(京)字第161号<span class="m_l_10">增值电信业务经营许可证：京B2-20180228</span>
					<a
						href="https://n1-q.mafengwo.net/s12/M00/A5/45/wKgED1xJi3uAA7KLAAf_CkKLHRQ87.jpeg"
						target="_blank" rel="nofollow" class="m_l_10">营业执照</a><a
						href="http://www.mafengwo.cn/sales/uhelp/doc" target="_blank"
						rel="nofollow" class="m_l_10">帮助中心</a><span class="m_l_10">马蜂窝客服：国内</span><span
						class="highlight">4006-345-678</span><span class="m_l_10">海外</span>
					<span class="highlight">+86-10-5922-2799</span>
				</p>
			</div>
			<div class="ft-safety">
				<a class="s-a" target="_blank"
					href="https://search.szfw.org/cert/l/CX20140627008255008321"
					id="___szfw_logo___"></a> <a class="s-b"
					href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&amp;ct=df&amp;a=1&amp;pa=787189"
					target="_blank" rel="nofollow"></a> <a class="s-c"
					href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html"
					target="_blank" rel="nofollow"></a>
			</div>

		</div>
	</div>
	<style>
#ad2 {
	padding: 10px 0;
	display: block;
	position: fixed;
	bottom: 0;
	z-index: 100;
	left: -200px;
}

#ad1 {
	display: block;
	position: fixed;
	bottom: 0;
	left: -100%;
	z-index: 100;
	width: 100%
}
</style>
	<div id="ad2">
		<img
			src="../static/jingdian_files_mfw/wKgED1v2S7aAO1drAABuUZN2gxA275.png"
			style="width: 150px">
		<div
			style="width: 24px;height: 24px;background-color: #fba811;opacity: 0.65;position: absolute;border-radius: 3px;right: 3px;top: 35px;z-index: 100;">
			<img id="closed"
				style="height: 16px;width: 16px;position: absolute;left: 49%;margin-left: -8px;top: 50%;margin-top: -8px;"
				src="../static/jingdian_files_mfw/wKgED1vRt4KASg2mAAABpQUDI6w478.png">
		</div>
	</div>
	<div id="ad1">
		<div
			style="width: 100%;height:150px;background-image: url(&#39;https://p1-q.mafengwo.net/s12/M00/88/B1/wKgED1v2Rx-ARJIPAAFGdDDLSJ8315.png&#39;);position: relative">
			<img id="close"
				style="height: 20px;width: 20px;float: right;padding-top: 10px;padding-right: 10px"
				src="../static/jingdian_files_mfw/wKgED1vRt4KASg2mAAABpQUDI6w478.png">
		</div>
		<div
			style="position: absolute;right: 50%;margin-right: -340px;bottom: 0;width: 730px;">
			<img
				src="../static/jingdian_files_mfw/wKgED1v2S1KAOy1aAAMKl5oW56M494.png"
				style="height: 180px">
		</div>
	</div>
	<script>
    $(function () {
        if(!(location.href.match(/www\.mafengwo\.cn\/hotel/g) ||
            location.href.match(/www\.mafengwo\.cn\/sales/g) ||
            location.href.match(/www\.mafengwo\.cn\/$/g) ||
            location.href.match(/www\.mafengwo\.cn\/mdd\/$/g) ||
            location.href.match(/www\.mafengwo\.cn\/gonglve\/$/g)||
            location.href.match(/gonglve\/ziyouxing\/(modify|home|comment)/g)
        )){
            if(getCookie('all_ad')!=='1'){
                $("#ad1").animate({ left:0,},1500,'swing');
                setTimeout(function () {
                    $("#ad1").animate({ left:-window.innerWidth,},1500,'swing');
                }, 3000);
                setTimeout(function () {
                    $("#ad2").animate({ left:0,},500,'swing');
                    $("#ad1").hide();
                }, 4500);
                add_cookie('all_ad');
            }else{
                if(getCookie('ad_hide')!=='1')
                $("#ad2").animate({ left:0,},1000,'swing');
            }
        }
    });

    $('#ad2 img').click(function (){
        $("#ad2").animate({ left:-200,},500,'swing');
        setTimeout(function () {
            $("#ad1").show();
            $("#ad1").css('width','100%');
            $("#ad1").animate({ left:0,},1000,'swing');
        }, 800);
    });
    $('#close').click(function () {
        $("#ad1").animate({ left:-window.innerWidth,},1000,'swing');
        setTimeout(function () {
            $("#ad2").animate({ left:0,},800,'swing');
            $("#ad1").hide();
        }, 1000);
    });
    $("#ad2 div").click(function () {
        $("#ad1").animate({ left:-window.innerWidth,},1000,'swing');
        setTimeout(function () {
            $("#ad2").animate({ left:-200,},800,'swing');
            $("#ad1").hide();
        }, 1000);
        add_cookie('ad_hide');
    });

    function add_cookie(name) {
        var exp = new Date();
        exp.setTime(exp.getTime() + 60*1000*60);
        document.cookie=name+'=1;expires='+exp.toGMTString()+';path=/';
    }
    function getCookie(cname)
    {
        var name = cname + "=";
        var ca = document.cookie.split(';');

        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
        }

        return "";
    }
</script>
	<link href="../static/jingdian_files_mfw/mfw-toolbar.css"
		rel="stylesheet" type="text/css">
	<div class="mfw-toolbar" id="_j_mfwtoolbar" style="display: block;">
		<div class="toolbar-item-top" style="display: none;">
			<a role="button" class="btn _j_gotop"> <i class="icon_top"></i> <em>返回顶部</em>
			</a>
		</div>
		<div class="toolbar-item-feedback">
			<a role="button" data-japp="feedback" class="btn"> <i
				class="icon_feedback"></i> <em>意见反馈</em>
			</a>
		</div>
	</div>
	<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+Dropdown:js+pageletcommon+pageHeadUserInfoWWWNormal:js+jquery.tmpl:js+M+module+InputListener:js+M+module+SuggestionXHR:js+M+module+DropList:js+M+module+Suggestion:js+M+module+MesSearchEvent:js+SiteSearch:js+AHeader:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZVdT^1545811700.js");
}
</script>
</body>
</html>