<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div {
	font-weight: 400
}
</style>
<style type="text/css">
.gm-control-active>img {
	box-sizing: content-box;
	display: none;
	left: 50%;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%)
}

.gm-control-active>img:nth-child(1) {
	display: block
}

.gm-control-active:hover>img:nth-child(1),.gm-control-active:active>img:nth-child(1)
	{
	display: none
}

.gm-control-active:hover>img:nth-child(2),.gm-control-active:active>img:nth-child(3)
	{
	display: block
}
</style>
<link type="text/css" rel="stylesheet" href="../static/Trips_files/css">
<style type="text/css">
.gm-ui-hover-effect {
	opacity: .6
}

.gm-ui-hover-effect:hover {
	opacity: 1
}
</style>
<style type="text/css">
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div
	{
	font-size: 10px;
	box-sizing: border-box
}
</style>
<style type="text/css">
@media print {
	.gm-style .gmnoprint,.gmnoprint {
		display: none
	}
}

@media screen {
	.gm-style .gmnoscreen,.gmnoscreen {
		display: none
	}
}
</style>
<style type="text/css">
.gm-style-pbc {
	transition: opacity ease-in-out;
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center
}

.gm-style-pbt {
	font-size: 22px;
	color: white;
	font-family: Roboto, Arial, sans-serif;
	position: relative;
	margin: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}
</style>

<meta name="keywords"
	content="行程">
<meta name="description"
	content="行程">
<meta name="google-site-verification"
	content="DVVM1p1HEm8vE1wVOQ9UjcKP--pNAsg_pleTU5TkFaM">
<title>行程详情</title>
<link rel="shortcut icon" href="javascript:void(0)">
<link rel="stylesheet" href="../static/Trips_files/style.79a438d61694597ff8b6fd7deae988d6.css">
<style id="extend-style"></style>
<style type="text/css">
.gm-style {
	font: 400 11px Roboto, Arial, sans-serif;
	text-decoration: none;
}
.gm-style img {
	max-width: none;
}
</style>
<link type="text/css" rel="stylesheet" href="../static/Trips_files/tooltip.css">
<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
<script src="https://webapi.amap.com/maps?v=1.4.13&key=266190ba6929ccee06c2600f93da6538&plugin=AMap.Driving"></script>
<script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../static/js/map.js"></script>
</head>
<body style="">
<link rel="stylesheet" href="../static/Trips_files/headerfoot_black.min-432199a511540a5637600436ca6f91ae.css"></link>
<script src="../static/Trips_files/headerfoot_black.min-7a04836a5d760bad5cbbf37bafe01b05.js.下载"></script>
	<div class="q-layer-header">
		<div class="header-inner">
			<a class="q-header-logo" data-bn-ipg="head-logo"
				href="javascript:void(0)"><img class="logo"
				src="../static/Trips_files/logo_116x36.png" width="58" height="18"></a>
			<div class="q-header-nav">
				<ul class="nav-ul">
					<li class="nav-list "><a class="nav-span"
						href="javascript:void(0)" data-bn-ipg="head-nav-place"
						title="目的地"> <span>目的地</span>
					</a></li>
					<li class="nav-list nav-list-layer"><a class="nav-span"
						href="javascript:void(0)" data-bn-ipg="head-nav-hotel"
						title="酒店·民宿"> <span>酒店·民宿</span><i
							class="frame-iconfont frame-icon-arrow-down"></i>
					</a>
						<div class="q-layer q-layer-nav q-layer-arrow">
							<ul>
								<li><a href="javascript:void(0)" data-bn-ipg="head-nav-booking" title="酒店" target="_blank">
										<i class="frame-iconfont frame-icon-hotel"></i> <span>酒店</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="q-header-fun">
				<div id="siteSearch" class="q-header-search">
					<form action="javascript:void(0)" method="get">
						<input class="txt-search" name="wd" type="text" autocomplete="off">
						<button class="btn-search" type="submit">
							<i class="frame-iconfont frame-icon-search"></i> <span>搜索</span>
						</button>
					</form>
					<div class="q-layer q-layer-sitesearch-history">
						<ul></ul>
						<div class="history-clear">
							<a href="javascript:;">清空历史记录</a>
						</div>
					</div>
					<div class="q-layer q-layer-sitesearch-autocomplete">
						<ul></ul>
					</div>
				</div>
				<span class="q-header-cut">|</span>
				<div id="js_qyer_header_userStatus" class="q-header-user-status">
					<div class="user-status">
						<div class="user-info">
							<span class="username"><a target="_blank"
								data-bn-ipg="index-head-user"
								href="javascript:void(0)">wu3322</a></span><i
								class="frame-iconfont frame-icon-arrow-down"></i>
							<div class="q-layer q-layer-userstatus">
								<ul>
									<li><a data-bn-ipg="index-head-userdrop-home"
										href="javascript:void(0)">我的首页</a></li>
									<li><span class="fr"><a class="link"
											data-bn-ipg="index-head-userdrop-collectThread"
											href="javascript:void(0)">收藏的帖子</a></span>
										<a data-bn-ipg="index-head-userdrop-thread"
										href="javascript:void(0)">我的帖子</a></li>
									<li><a data-bn-ipg="index-head-userdrop-wishlist"
										href="javascript:void(0)">我的想去</a></li>
									<li><a data-bn-ipg="index-head-userdrop-ask"
										href="javascript:void(0)">我的问答</a></li>
									<li class="setting"><span class="fr"><a
											class="link" data-bn-ipg="index-head-userdrop-logout"
											href="javascript:void(0)">退出</a></span> <a
										class="link_setting" data-bn-ipg="index-head-userdrop-setting"
										href="javascript:void(0)">帐号设置</a></li>
								</ul>
							</div>
						</div>
						<div class="user-message">
							<span class="icon-message-wrap"><i
								class="frame-iconfont frame-icon-message"></i><em class="dot"></em></span><em
								class="count">3</em>
							<div class="q-layer q-layer-message">
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="top_header">
		<div class="bg" style=background-image:url(../static/Trips_files/w1080.jpg)></div>
		<section>
			<div class="fg" style="background-image:url(../static/Trips_files/w1080.jpg)"></div>
			<!-- 渐变遮罩 -->
			<div class="mask-top"></div>
			<div class="mask-bottom"></div>
			<!-- 面包屑 -->
			<div class="breadcrumbs">
				<a href="javascript:void(0)" target="_blank">穷游</a> <em
					class="iconfont"></em> <a href="javascript:void(0)"
					target="_blank">行程助手</a> <em class="iconfont"></em> <a
					href="javascript:void(0)">旅游线路</a> <em
					class="iconfont"></em> <span>澳大利亚亲子</span>
			</div>
			<div class="basic-info" th:each="q:${queryOned}">
				<section class="vm">
					<div class="vm-inner">
						<h1>
							<span class="title_txt" th:text="${q.end}"></span>
						</h1>
						<p>
							<span>出发日期：<span th:text="${q.starttime}"></span></span>
						</p>
					</div>
				</section>
			</div>
			<div class="extra-info vm">
				<div class="vm-inner">
					<p>
						<span><em class="iconfont"></em>浏览：253</span> <span><em
							class="iconfont"></em>复制：11</span>
					</p>
				</div>
			</div>
		</section>
	</header>
	<nav class="">
		<div class="inner">
			<ul>
				<li><a class="active"
					href="javascript:void(0)"
					data-bn-ipg="planview-tab-standard">标准模式</a></li>
				<!-- <li><a
					href="javascript:void(0)"
					data-bn-ipg="planview-tab-message">留言</a></li>
						<div  th:each="g:${gls}"  th:text='${g}'>577232</div>		
			</ul> -->
			<!-- <div class="controls">
				<div class="share arrow" href="##">
					<em class="iconfont"></em> 分享到
				</div>
				<a class="copy"
					href="javascript:void(0)"
					data-bn-ipg="planview-menu-copy"><em class="iconfont"></em>复制行程</a>
				<a class="create" href="addXc" target="_blank"
					data-bn-ipg="planview-menu-create"><em class="iconfont"></em>创建行程</a>
			</div> -->
		</div>
	</nav>
<div id="wrapper">
	<div class="s-abbr">行程描述<div class="s-desc">
		澳大利亚亲子 <br>出行时间：2019年03月09日-2020年02月09日 <br>第1天(2019年03月09日)上海、墨尔本。从上海上海浦东国际机场乘坐飞机到墨尔本墨尔本国际机场。。
		<br>第2天(2019年03月09日)香港、墨尔本、吉朗、托尔坎镇、龙恩、阿波罗小镇。游览了吉朗东部沙滩-安吉西-洛恩-龙恩海滩-龙恩栈桥-The
		Pier Seafood Restaurant-龙恩旅游信息中心-阿波罗小镇看考拉-Apollo Bay
		Bakery-约翰娜海滩，游玩了11.53小时。入住了阿波罗湾滨海汽车旅馆 Apollo Bay Waterfront Motor
		Inn。 <br>第3天(2019年03月09日)阿波罗小镇、坎贝尔港国家公园、大洋路、沃南布尔、墨尔本。游览了大洋路,Great
		Ocean
		Road-大奥特维国家公园-大奥特维国家公园林中漫步-十二门徒石柱-十二门徒直升机体验-伦敦拱门，游玩了11.97小时。入住了奥克利庞特山公寓酒店
		Punthill Oakleigh。 <br>第4天(2019年03月09日)墨尔本。游览了普芬比利蒸汽小火车-亚拉河谷酒庄-墨尔本热气球，游玩了6.08小时。
		<br>第5天(2019年03月09日)墨尔本。游览了查德斯通购物中心-维多利亚女王市场-维多利亚艺术中心-Emporium
		Melbourne-柯林斯街-尤利卡88层观景台-联邦广场-企鹅归巢-皇家拱廊，游玩了14.96小时。
	</div></div>
	<input type="hidden" th:value="${querydays}" id="daysnum" >
	<section>
		<div class="day">
			<script type="text/javascript">
				var tablelist = "";
				var daynum = $("#daysnum").val();
				$(function(){
					for(var d = 0;d<=daynum;d++){
						$.post("/Travle/china/queryOne?days="+d,function(data){
							if(data != ""){
								tablelist+="<header><h2>D"+data[0].days+"</h2><div id='contextdays' class='text-container vm'><div class='vm-inner'><h3>"+data[0].starttime+"<span class='sep'>|</span><span class='copy-day'";
								tablelist+="data-id='82893384' data-bn-ipg='planview-day-head-copyday'>复制单日行程</span></h3><h4><span>"+data[0].start+"--</span><em class='iconfont'></em>";
								tablelist+="<a href='' target='_blank' data-bn-ipg='planview-content-city'>"+data[0].end+"</a></h4></div></div></header>";
								for(var i=0;i<data.length;i++){
									if(data[i].xname == undefined){
										tablelist+="<article class='poi clearfix' style='' data-onedayid='92367921' data-lat='48.887760' data-lng='2.340565' data-id='427494378' data-pid='206858'";
										tablelist+="data-to_id='' data-to_pid='' data-to_lat='' data-to_lng='' data-to_traffic_poi_id='' data-to_traffic_poi_name='' data-cnname='' data-enname='' data-type='poi'>";
										tablelist+="<h4 style='color:red;margin-left:160px;font-size:20px;'>没有行程</h4></article>";
									}else{
										tablelist+="<article class='poi clearfix' style='' data-onedayid='92367921' data-lat='48.887760' data-lng='2.340565' data-id='427494378' data-pid='206858'";
										tablelist+="data-to_id='' data-to_pid='' data-to_lat='' data-to_lng='' data-to_traffic_poi_id='' data-to_traffic_poi_name='' data-cnname='' data-enname='' data-type='poi'>";
										tablelist+="<div class='dotted top' style=''></div><div class='dotted bottom'></div><a href='javascript:void(0)' target='_blank' data-bn-ipg='planview-content-poi-pic'>";
										tablelist+="<figure><img src='"+data[i].xpic+"' onerror='this.src=&#39;//common3.qyerstatic.com/plan/mobile/shared/img/default_pic/400x300/poi_default.jpg&#39;'></figure></a>";
										tablelist+="<section><h5 class='ellipsis'><a title='' href='http://place.qyer.com/poi/V2YJY1FgBz5TYVI3/' target='_blank' data-bn-ipg='planview-content-poi-title'>"+data[i].xname+"</a>";
										tablelist+="</h5><cite><figure><a href='javascript:void(0)' target='_blank' data-bn-ipg='planview-content-poi-user'><img src='../static/Trips_files/w1080.jpg' alt=''></a></figure>";
										tablelist+="<div class='text-container'><em><a href='javascript:void(0)' target='_blank' data-bn-ipg='planview-content-poi-user'></a> ："+data[i].xcon+"</em>";
										tablelist+="</div></cite></section></article>";
									}	
								}	
								$(".day").html(tablelist);
							}
						});
					}
				});
			</script>
		</div>		
	</section>
<!-- 地图与详情 -->
<aside class="sidebar">
	<div class="mkt_zone loaded nocontent" style="width: 440px; height: 80px;
	 	margin-bottom: 10px; padding: 0px; position: relative; border: 0px; display: none;"
		id="zoneid-25" data-countries="240,11" data-areas="">
	</div>
<!-- 地图 -->
	<div class="map">
		<div id="container" class="container" style="position: relative; overflow: hidden;"></div>
			<div id="panel" style="display: none;"></div>
				<div class="overlay">
					<div id="cities-prev-page" class="iconfont"></div>
						<ul class="cities clearfix">
						<li data-day-index="0"><span>1</span> 1</li>
						<li data-day-index="1"><span>2</span> 2</li>
						<li data-day-index="2"><span>3</span> 3</li>
						<li data-day-index="5"><span>4</span> 4</li>
						<li data-day-index="8"><span>5</span> 5</li>
						<li data-day-index="9"><span>6</span> 黄金海岸</li>
						<li data-day-index="12"><span>7</span> 布里斯班</li>
					</ul>
					<div id="cities-next-page" class="iconfont"></div>
				</div>
			</div>
		</aside>
	</div>
	<!-- 回到顶部 -->
<a href="javascript:void(0)" data-bn-ipg="planview-bottom-ad" target="_blank" class="intro-block_link">
<div class="intro-block">
   <p class="intro-block_title">行程助手可以帮我做什么？</p>
   <div>
      <img class="intro-block_img" src="../static/Trips_files/plan_browser_plan_introduce_1.jpg" width="315" height="265">
      <img class="intro-block_img" src="../static/Trips_files/plan_browser_plan_introduce_3.jpg" width="313" height="265">
      <img src="../static/Trips_files/plan_browser_plan_introduce_2.jpg" width="315" height="265">
   </div>
   <div class="intro-block_btn" data-bn-ipg="planview-bottom-ad-createplan">+ 制定我的行程</div>
</div>
 </a>
	<!-- 查看首选交通对话框 -->
	<div class="view-path-dialog" id="view-path-dialog">
		<div class="dialog-inner">
			<div class="close"></div>
			<div class="details">
				<div class="inner"></div>
			</div>
			<div id="view-path-map" class="map"></div>
			<div class="loading"></div>
		</div>
	</div>

	<a href="javascript:void(0)" data-bn-ipg="planview-bottom-ad" target="_blank" class="intro-block_link"> </a>
	<div style="display: none;">http://plan.qyer.com/search_0_0_0_0_0_0_2/</div>
	<div class="qyer_footer">
		<div class="topline"></div>
		<div class="content">
			<p class="nav">
				<a href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-about-1">穷游简介</a> <a
					href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-about-3">合作伙伴</a> <a
					href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-join-1">加入我们</a> <a
					href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-help-1">新手上路</a> <a
					href="javascript:void(0)"
					target="_blank" rel="nofollow" data-bn-ipg="foot-help-2">使用帮助</a> <a
					href="javascript:void(0)" target="_blank"
					data-bn-ipg="foot-help-4">网站地图</a> <a
					href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-clause-1">会员条款</a> <a
					href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-clause-2">社区指南</a> <a
					href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-clause-3">版权声明</a> <a
					href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-clause-4">免责声明</a> <a
					href="javascript:void(0)" target="_blank" rel="nofollow"
					data-bn-ipg="foot-about-2">联系我们</a>
			</p>
		</div>
	</div>
<script type="text/javascript">
var map = new AMap.Map('container', {
	resizeEnable: true,
    center: [116.397428, 39.90923],
    layers: [//只显示默认图层的时候，layers可以缺省
        new AMap.TileLayer()//高德默认标准图层
    ],
    zoom: 13
});

var start=$("#start").text();
var end=$("#end").text();
//比列尺
AMap.plugin([
             'AMap.ToolBar',
             'AMap.Scale',            
             'AMap.MapType',            
         ], function(){
             // 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
             map.addControl(new AMap.ToolBar({
            	 liteStyle: true
             }));
             // 在图面添加比例尺控件，展示地图在当前层级和纬度下的比例尺
             map.addControl(new AMap.Scale());
             // 在图面添加类别切换控件，实现默认图层与卫星图、实施交通图层之间切换的控制
             map.addControl(new AMap.MapType());
             // 在图面添加定位控件，用来获取和展示用户主机所在的经纬度位置
             map.addControl(new AMap.Geolocation());
         });
/* var map = new AMap.Map("container", {
    resizeEnable: true
});
AMap.service(["AMap.PlaceSearch"], function() {
    //构造地点查询类
    var placeSearch = new AMap.PlaceSearch({ 
        pageSize: 5, // 单页显示结果条数
        pageIndex: 1, // 页码
        city: "010", // 兴趣点城市
        citylimit: true,  //是否强制限制在设置的城市内搜索
        map: map, // 展现结果的地图实例
        panel: "panel", // 结果列表将在此容器中进行展示。
        autoFitView: true // 是否自动调整地图视野使绘制的 Marker点都处于视口的可见范围
    });
    //关键字查询
    placeSearch.search('郑州大学');
});   */ 
var driving = new AMap.Driving({
    map: map,
    panel: "panel"
}); 
// 根据起终点名称规划驾车导航路线
driving.search([
    {keyword: ' ',city:start},
    {keyword: ' ',city:end}
], function(status, result) {
    // result 即是对应的驾车导航信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingResult
    if (status === 'complete') {
        /* log.success('') */
    } else {
        log.error('获取驾车数据失败：' + result)
    }
});
</script>


</body>
</html>